.article__container {
  max-width: 941px;
  background-color: #ffffff;
  margin: 24px auto 0;
}
.article__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
  background-color: #ffffff;
  padding: 17px 14px 24px 19px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
.header__likes {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}
.article__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  margin-right: 13px;
  margin-bottom: 4px;
  cursor: pointer;
  word-break: break-all;
}
.article__likes {
  display: flex;
  flex-direction: row;
}
.article__annotation {
  max-width: 682px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  line-break: anywhere;
}
.article__author {
  display: flex;
  flex-direction: row;
}
.article__author_name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
}
.article__author_date {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.article__text {
  max-width: 880px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  padding: 17px 14px 15px 19px;
  color: rgba(0, 0, 0, 0.75);
}
