.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.header {
  color: none;
  cursor: pointer;
}
.btn {
  width: 84px;
  height: 35px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  outline: none;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  margin: auto 22px auto 0;
  border: none;
  cursor: pointer;
}
.signUpBtn {
  color: #52c41a;
  border: solid #52c41a 1px;
  border-radius: 5px;
  width: 109px;
  height: 51px;
}
.signUpBtn:hover {
  color: #ffffff;
  background-color: #52c41a;
  border-color: #ffffff;
}
.avatarImg {
  width: 46px;
  height: 46px;
}
.signInBtn {
  margin-left: auto;
}
.signInBtn:hover {
  border: solid rgba(0, 0, 0, 0.7) 1px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
}
.createArticleBtn {
  margin-left: auto;
  height: 31.1px;
  border: 1px solid #52c41a;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  color: #52c41a;
  width: 113px;
}

.createArticleBtn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #52c41a;
  border-color: #ffffff;
}
.editAccountBtn {
  width: initial;
  height: initial;
}
.signOutBtn {
  color: rgba(0, 0, 0, 0.75);
  border: solid rgba(0, 0, 0, 0.75) 1px;
  border-radius: 5px;
  width: 109px;
  height: 51px;
}
.signOutBtn:hover {
  color: #ffffff;
  background-color: rgba(34, 34, 34, 0.75);
  border-color: rgba(34, 34, 34, 0.75);
}
.editAccountBtn:hover {
  color: rgba(34, 34, 34, 0.75);
}
.header {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  font-weight: normal;
  margin: auto 0 auto 22px;
}
.header:hover {
  color: rgba(34, 34, 34, 0.75);
}
